<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Digital Inspector', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to root_path do %>
          Home <span class="sr-only">(current)</span>
          <% end %></li>
        <li><%= link_to 'More Information', moreInfo_path %></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      </ul>
    </div>
  </div>
</nav>