<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- TODO: fix these two font calls -->
    <meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Digital Mosquito Inspector</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag	   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render 'shared/navbar' %>
		<%= render 'shared/flash' %>
		<div class="container-fluid">
			<%= yield %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
