<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Digital Mosquito Inspector</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag	   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to 'Digital Inspector', root_path, class: 'navbar-brand' %>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><%= link_to root_path do %>
						Home <span class="sr-only">(current)</span>
						<% end %></li>
					<li><%= link_to 'More Information', controller: 'static_pages', action: 'moreInfo' %></li>
				</ul>
			</div>
		</div>
	</nav>

	<% flash.each do |message_type, message| %>
	      <% if flash[:notice] %>
	      	<div class="alert alert-info" role="alert">
			      <%= message.html_safe %>
					</div>
	      <% end %>
	      <% if flash[:danger] %>
	      	<div class="alter alert-danger" role="alert">
			      <%= message.html_safe %>
			    </div>
	      <% end %>
	      <% if flash[:success] %>
	      	<div class="alter alert-success" role="alert">
	      		<%= message.html_safe %>
	      	</div>
	      <% end %>
	    </div>
	  </div>
	<% end %>
	<%= yield %>
	</body>
</html>
